<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawling Report</title>
    <script src="tailwind.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="p-4">
    <div class="macos-menu">
        <div class="macos-buttons">
            <select class="save-urls" onchange="saveUrls(this)">
                <option selected value="0">💾 Export rules and values</optgroup>
                <option value="all_with_values">Export all rules with values (CSV)</option>
                <option value="all_no_values">Export all rules without values (TXT)</option>
                <option value="selected_with_values">Export selected rules with values (CSV)</option>
                <option value="selected_no_values">Export selected rules without values (TXT)</option>
            </select>
            <select class="hide-or-display-urls" onchange="toggleEmptyURLs(this)">
                <option selected value="0">🔍 Filter extractor values</optgroup>
                <option value="display">Display rows with empty values</option>
                <option value="hide">Hide rows with empty values</option>
            </select>
        </div>
        <button onclick="toggleTheme()" id="themeButton">🌙</button>
    </div>
    
    <div class="max-w-5xl mx-auto">
        <div class="space-y-4">
            @@PANELS
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>